@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/ace-responsive-menu.css">
<link rel="stylesheet" href="~/css/menu.css">
<link rel="stylesheet" href="~/css/fontawesome.css">
<link rel="stylesheet" href="~/css/flaticon.css">
<link rel="stylesheet" href="~/css/bootstrap-select.min.css">
<link rel="stylesheet" href="~/css/ud-custom-spacing.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/animate.css">
<link rel="stylesheet" href="~/css/jquery-ui.min.css">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="~/css/responsive.css">
<!-- Title -->
<title>NicoReal</title>
<!-- Favicon -->
<link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon" />
<!-- Apple Touch Icon -->


<body class="bgc-f7">
<div class="wrapper ovh">
  <div class="preloader"></div>
  <div class="body_content">
    <!-- Our Compare Area -->
    <section class="our-compare pt60 pb60">
      <img src="images/icon/login-page-icon.svg" alt="" class="login-bg-icon wow fadeInLeft" data-wow-delay="300ms">
      <div class="container">
        <div class="row wow fadeInRight" data-wow-delay="300ms">
          <div class="col-lg-6">
              <form id="account" method="post">
            <div class="log-reg-form signup-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12">
              <div class="text-center mb40">
                <h2>Sign in</h2>
              </div>
              <div class="mb25">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
              </div>
              <div class="mb15">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
              </div>

              <div class="d-grid mb20">
                                        <button class="ud-btn btn-thm" id="login-submit"  type="submit">Sign in <i class="fal fa-arrow-right-long"></i></button>
              </div>
            </div>
                            </form>
          </div>
        </div>
      </div>
    </section>
    <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
  </div>
</div>
<!-- Wrapper End --> 
<script src="~/js/jquery-3.6.4.min.js"></script>
<script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-scrolltofixed-min.js"></script>
    <script src="~/js/wow.min.js"></script>
<!-- Custom script for all pages -->
    <script src="~/js/script.js"></script>
</body>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
