@using Microsoft.AspNetCore.Identity;
@using NicoRealSolution.Areas.Identity.Data;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - NicoReal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">

    <link href="~/images/tabbar.svg" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="~/images/tabbar.svg" sizes="128x128" rel="shortcut icon" />
</head>
<body>
    <header>
     
    </header>
    <div style="background: #F4FFF2 ">
        
            @RenderBody()

    </div>    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
