@model Property
@{
    ViewData["Title"] = "Modifica Proprietate";
}
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ace-responsive-menu.css">
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/ud-custom-spacing.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slider.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/dashbord_navitaion.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <div class="wrapper">
        <div class="preloader"></div>

 



        <!-- Main Header Nav -->
        <header class="header-nav nav-innerpage-style menu-home4 dashboard_header main-menu">
            <!-- Ace Responsive Menu -->
            <nav class="posr">
                <div class="container-fluid pr30 pr15-xs pl30 posr menu_bdrt1">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-lg-auto">
                            <div class="text-center text-lg-start d-flex align-items-center">
                                <div class="dashboard_header_logo position-relative me-2 me-xl-5">
                                    <a href="index.html" class="logo"><img src="~/images/MyLogoDark.png" alt=""></a>
                                </div>
                                <div class="fz20 ms-2 ms-xl-5">
                                    <a href="#" class="dashboard_sidebar_toggle_icon text-thm1 vam">
                                        <img src="~/images/dark-nav-icon.svg"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-lg-block col-lg-auto">
                            <!-- Responsive Menu Structure-->
                        </div>
                        <div class="col-6 col-lg-auto">
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Menu In Hiddn SideBar -->
        <div class="rightside-hidden-bar">
            <div class="hsidebar-header">
                <div class="sidebar-close-icon"><span class="far fa-times"></span></div>
                <h4 class="title">Welcome to Realton</h4>
            </div>
            <div class="hsidebar-content">
                <div class="hiddenbar_navbar_content">
                    <div class="hiddenbar_navbar_menu">
                        <ul class="navbar-nav">
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Apartments</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Bungalow</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Houses</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Loft</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Office</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Townhome</a></li>
                            <li class="nav-item"> <a class="nav-link" href="" role="button">Villa</a></li>
                        </ul>
                    </div>
                    <div class="hiddenbar_footer position-relative bdrt1">
                        <div class="row pt45 pb30 pl30">
                            <div class="col-auto">
                                <div class="contact-info">
                                    <p class="info-title dark-color">Total Free Customer Care</p>
                                    <h6 class="info-phone dark-color"><a href="+(0)-123-050-945-02">+(0) 123 050 945 02</a></h6>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="contact-info">
                                    <p class="info-title dark-color">Nee Live Support?</p>
                                    <h6 class="info-mail dark-color"><a href="mailto:hi@homez.com">hi@homez.com</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row pt30 pb30 bdrt1">
                            <div class="col-auto">
                                <div class="social-style-sidebar d-flex align-items-center pl30">
                                    <h6 class="me-4 mb-0">Follow us</h6>
                                    <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Menu In Hiddn SideBar -->
        <!-- Mobile Nav  -->
        <div id="page" class="mobilie_header_nav stylehome1">
            <div class="mobile-menu">
                <div class="header innerpage-style">
                    <div class="menu_and_widgets">
                        <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
                            <a class="mobile_logo" href="#"><img src="~/images/MyLogoDark.png" alt=""></a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.mobile-menu -->

        </div>

        <div class="dashboard_content_wrapper">
            <div class="dashboard dashboard_wrapper pr30 pr0-md">
                <div class="dashboard__sidebar d-none d-lg-block">
                    <div class="dashboard_sidebar_list">
                        <div class="sidebar_list_item">
                            <a href="page-dashboard.html" class="items-center"><i class="flaticon-discovery mr15"></i>Dashboard</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="" class="items-center"><i class="flaticon-chat-1 mr15"></i>NicoReal</a>
                        </div>
                        <p class="fz15 fw400 ff-heading mt30">NICO REAL</p>
                        <div class="sidebar_list_item ">
                            <a href="" class="items-center -is-active"><i class="flaticon-new-tab mr15"></i>Modifica proprietate</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="" class="items-center"><i class="flaticon-home mr15"></i>NicoReal</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="" class="items-center"><i class="flaticon-like mr15"></i>NicoReal</a>
                        </div>
                    </div>
                </div>
                <div class="dashboard__main pl0-md">
                    <div class="dashboard__content property-page bgc-f7">
                        <div class="row pb40 d-block d-lg-none">
                            <div class="col-lg-12">
                                <div class="dashboard_navigationbar">
                                    <div class="dropdown">
                                        <button onclick="myFunction()" class="dropbtn">
                                            <i class="fa fa-bars pr10"></i> Menu Navigation
                                        </button>
                                        <ul id="myDropdown" class="dropdown-content">
                                            <li><a href="page-dashboard.html"><i class="flaticon-discovery mr10"></i>Dashboard</a></li>
                                            <li><a href="page-dashboard-message.html"><i class="flaticon-chat-1 mr10"></i>NicoReal</a></li>
                                            <li>
                                                <p class="fz15 fw400 ff-heading mt30 pl30">NICO REAL</p>
                                            </li>
                                            <li class="active">
                                                <a href="page-dashboard-add-property.html">
                                                    <i class="flaticon-new-tab mr10"></i>Modifica proprietate
                                                </a>
                                            </li>
                                            <li><a href="page-dashboard-properties.html"><i class="flaticon-home mr10"></i>NicoReal</a></li>
                                            <li><a href="page-dashboard-favorites.html"><i class="flaticon-like mr10"></i>NicoReal</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center pb40">
                            <div class="col-lg-12">
                                <div class="dashboard_title_area">
                                    <h2>Modifica proprietate</h2>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xl-12">
                                <div class="ps-widget bgc-white bdrs12 default-box-shadow2 pt30 mb30 overflow-hidden position-relative">
                                    <form id="formular" asp-action="Edit" asp-controller="Property" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="navtab-style1">
                                            <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">
                                                <h4 class="title fz17 mb30">Descrierea Proprietatii</h4>
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <div class="mb20">
                                                            <label class="heading-color ff-heading fw600 mb10">Titlu</label>
                                                            <input asp-for="Title" type="text" class="form-control" placeholder="Titlu">
                                                            <input asp-for="Id" type="text" class="form-control" hidden>
                                                            <input asp-for="DatePosted" type="text" class="form-control" hidden>
                                                            <input asp-for="PhotoGuids" type="text" class="form-control" hidden>
                                                        </div>
                                                    </div>


                                                    
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                            <label class="heading-color ff-heading fw600 mb10">Selecteaza Categoria</label>
                                                            <div class="location-area">
                                                                <select asp-for="Category" class="selectpicker">
                                                                    <option value="">-- Selecteaza Categoria --</option>
                                                                    <option>Apartment</option>
                                                                    <option>Casa</option>
                                                                    <option>Teren</option>
                                                                    <option>Hotel</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                        <span asp-validation-for="Price" class="text-danger"></span>
                                                        <label class="heading-color ff-heading fw600 mb10">Pret (ex: 1200.50)</label>
                                                            <input asp-for="Price" type="text" class="form-control" placeholder="Pret">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 col-xl-4">
                                                        <label class="heading-color ff-heading fw600 mb10">Recomandata</label>
                                                        <div class="location-area">
                                                            <select asp-for="IsFeatured" class="selectpicker">
                                                                <option value="">-- Recomandata --</option>
                                                                <option>Nu</option>
                                                                <option>Da</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xl-4">
                                                        <label class="heading-color ff-heading fw600 mb10">Investitie</label>
                                                        <div class="location-area">
                                                            <select asp-for="IsInvestment" class="selectpicker">
                                                                <option value="">-- Investitie --</option>
                                                                <option>Nu</option>
                                                                <option>Da</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                <div class="col-sm-6 col-xl-4">
                                                    <label class="heading-color ff-heading fw600 mb10"><span style="color: red">Vandut?</span></label>
                                                    <div class="location-area">
                                                        <select asp-for="IsSold" class="selectpicker">
                                                            <option value="">-- Vandut? --</option>
                                                            <option>Nu</option>
                                                            <option>Da</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                </div>
                                            </div>

                                            <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">
                                                <h4 class="title fz17 mb30">Locatie</h4>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="mb20">
                                                            <label class="heading-color ff-heading fw600 mb10">Adresa</label>
                                                            <input asp-for=Address type="text" class="form-control" placeholder="Adresa">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                            <label class="heading-color ff-heading fw600 mb10">Oras</label>
                                                            <input asp-for=City type="text" class="form-control" placeholder="Oras">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                            <label class="heading-color ff-heading fw600 mb10">Zip</label>
                                                            <input asp-for=Zip type="text" class="form-control" placeholder="Zip">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                            <label class="heading-color ff-heading fw600 mb10">Tara</label>
                                                            <input asp-for=Country type="text" class="form-control" placeholder="Tara">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="mb20 mt30">
                                                            <input type="text" id="autocomplete" placeholder="Enter a location" class="form-control">
                                                            <div id="map" class="h550" loading="lazy"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb30">
                                                            
                                                            <input asp-for=Latitude type="text" class="form-control" id="latitude" placeholder="Latitude" hidden>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb30">
                                                            
                                                            <input asp-for="Longitude" type="text" class="form-control" id="longitude" placeholder="Longitude" hidden>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">
                                                <h4 class="title fz17 mb30">Detalii</h4>

                                                <div class="row">
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                        <span asp-validation-for="Surface" class="text-danger"></span>
                                                        <label class="heading-color ff-heading fw600 mb10">Suprafata in mp<span style="color: red"> (numar)</span></label>
                                                            <input asp-for=Surface type="text" class="form-control" placeholder="Suprafata in mp">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                        <span asp-validation-for="Rooms" class="text-danger"></span>
                                                        <label class="heading-color ff-heading fw600 mb10">Camere<span style="color: red"> (numar)</span></label>
                                                            <input asp-for=Rooms type="text" class="form-control" placeholder="Camere">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                        <span asp-validation-for="Bathrooms" class="text-danger"></span>
                                                        <label class="heading-color ff-heading fw600 mb10">Băi<span style="color: red"> (numar)</span></label>
                                                            <input asp-for=Bathrooms type="text" class="form-control" placeholder="Băi">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                            <label class="heading-color ff-heading fw600 mb10">Anul constructiei (An-An)</label>
                                                            <input asp-for=ConstructionYear type="text" class="form-control" placeholder="Anul constructiei">
                                                        </div>
                                                    </div>


                                                    <div class="col-sm-6 col-xl-4">
                                                        <div class="mb20">
                                                        <span asp-validation-for="Floors" class="text-danger"></span>
                                                        <label class="heading-color ff-heading fw600 mb10">Etaje<span style="color: red"> (numar)</span></label>
                                                            <input asp-for=Floors type="text" class="form-control" placeholder="Etaje">
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">

                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw600 mb10">Descriere</label>
                                                <textarea class="small_width1" asp-for="Description" cols="30" rows="5"
                                                          placeholder="Descriere"></textarea>
                                            </div>
                                        </div>

                                            <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">
                                                <h4 class="title fz17 mb30">Adauga Facilitati</h4>
                                                <div class="row">
                                                    <label>Facilitati (separate prin virgula)</label>
                                                    <input asp-for="Features" class="form-control" />

                                                </div>
                                            </div>

                                        <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">
                                            <h4 class="title fz17 mb30">Ce se afla in imprejurimi?</h4>
                                            <div class="row">
                                                <label>Imprejurimi_1</label>
                                                <input asp-for="Nearby1" class="form-control" />
                                            </div>
                                            <div class="row">
                                                <label>Imprejurimi_2</label>
                                                <input asp-for="Nearby2" class="form-control" />
                                            </div>
                                            <div class="row">
                                                <label>Imprejurimi_3</label>
                                                <input asp-for="Nearby3" class="form-control" />
                                            </div>
                                        </div>
                                        </div>
                                        <div class="d-sm-flex justify-content-between">
                                            <button class="ud-btn btn-dark" type="submit" id="submit-all-edit">Modifica Proprietatea</button>
                                        </div>

                                    </form>
                                </div>

                            </div>

                        </div>


                        <footer class="dashboard_footer pt30 pb10">
                            <div class="container">
                                <div class="row items-center justify-content-center justify-content-md-between">
                                    <div class="col-auto">
                                        <div class="copyright-widget">
                                            <p class="text">© NicoReal - All rights reserved</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
            <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
        </div>
    </div>
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/jquery.mmenu.all.js"></script>
    <script src="~/js/ace-responsive-menu.js"></script>
    <script src="~/js/jquery-scrolltofixed-min.js"></script>
    <script src="~/js/dashboard-script.js"></script>
    <!-- Custom script for all pages -->
    <script src="~/js/script.js"></script>
    <script src="~/js/google_maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?&libraries=places&callback=initMap&v=weekly" defer></script>

   

